[submodule "movie_app"]
	path = movie_app
	url = https://github.com/jaeelee/movie_app.git
[submodule "WeatherApp"]
	path = WeatherApp
	url = https://github.com/jaeelee/WeatherApp.git
[submodule "TODO"]
	path = TODO
	url = https://github.com/jaeelee/TODO.git
